<!DOCTYPE html>
<html lang="en">
<head>
    <title>Turtle Talk - Blog</title>
    <link rel="icon" href="images/website_icon.png">
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <div class="main">
        <div class="top">
            <div class="my_logo">
                <img src="/images/website_icon.png" alt="my logo">
                <p>M-ick-uh-eL-uh</p>
            </div>
            <div class="contents">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    
                    <li>
                        <a href="/about">About</a>
                    </li>

                    <!--
                    <li>
                        <a href="#">Care Guides</a>
                    </li>
                    
                    <li>
                        <a href="#">Tank Setup</a>
                    </li>
                    -->
                    <li>
                        <a href="/forum">News & Stories</a>
                    </li>

                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            
            <a href="/signup" class="join_us">Join Community</a>          
        </div>

        <div class="middle">
            <div class="description">
                <div class="explain">Hello, my name is Mikaela <i>(pronounced: M-ick-uh-eL-uh)</i> Matthews and this is my turtle Angel.
                I am a turtle owner and exploring and learning the wanders of turtles and how they are. <br> I am learning about turtle habitats
            what they like, what they dislike and doing my best to make my turtle Angel comfortable around me. <br>
        I got Angel from a neighbor who was giving her a way for free so I decided to take on the task to take care of her and so far I am enjoying.
    Even though there is a lot of tank maintenance work like cleaning and changing filters I do it all for Angel. <br>I am not just looking out for Angel but I am also exploring other turtles I find as well.
I saw some small baby turtles on my walk and sometimes I think of taking them back home with me to take care of but I just leave them alone.<br>
I also want to coneect with other turtle lovers through this blog and have them post there day to day life with there turtle. I hope this blog is a good opportunity to get people who are 
 interested in turtles connected.</div>

                    <div class="explain_img"><!--Picture of me and turtle, pic of turtle in tank--></div>
            </div>
        </div>
    </div>
</body>
</html>