<!DOCTYPE html>
<html lang="en">
<head>
    <title>Turtle Talk - Blog</title>
    <link rel="icon" href="images/website_icon.png">
    <link rel="stylesheet" href="/style2.css">
</head>
<body>
    <div class="main">
        <div class="top">
            <div class="my_logo">
                <img src="/images/website_icon.png" alt="my logo">
                <p>M-ick-uh-eL-uh</p>
            </div>
            <div class="contents">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    
                    <li>
                        <a href="/about">About</a>
                    </li>

                    <!--
                    <li>
                        <a href="#">Care Guides</a>
                    </li>
                    
                    <li>
                        <a href="#">Tank Setup</a>
                    </li>
                    -->
                    <li>
                        <a href="/forum">News & Stories</a>
                    </li>

                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            
            <a href="/signup" class="join_us">Join Community</a>          
        </div>

        <div class="titling">
            <h2>We would love to hear from you</h2>
        </div>

        <div class="middle">
            <form class="contact_form">
                <label for="name" class="name">Name</label><br>
                <input type="text" class="name_bar" id="name" name="name"><br>

                <label for="name" class="email">Email</label><br>
                <input type="email" class="email_bar" id="email" name="email"><br>

                <label for="name" class="message">Message</label><br>
                <textarea class="message_bar" id="message" name="message"></textarea><br>

                <input type="submit" value="Submit" class="submit">
            </form>

            <div class="social_container">
                <h2>Thank You for visiting our page</h2>
                <div class="socials">
                    <a href="#"><img src="/images/github.png"></a>

                    <a href="#"><img src="/images/email (1).png"></a>
                    
                    <a href="#"><img src="/images/linkedin.png"></a>
                </div>
            </div>
        </div> 
    </div> 
</body>

<footer class="bottom">
    <p>&copy; 2025 Mikaela Matthews. All rights reserved.</p>
</footer>  
</html>