<!DOCTYPE html>
<html lang="en">
<head>
    <title>Turtle Talk - Blog</title>
    <link rel="icon" href="images/website_icon.png">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main">
        <div class="top">
            <div class="my_logo">
                <img src="/images/website_icon.png" alt="my logo">
                <p>M-ick-uh-eL-uh</p>
            </div>
            <div class="contents">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    
                    <li>
                        <a href="/about">About</a>
                    </li>

                    <!--
                    <li>
                        <a href="#">Care Guides</a>
                    </li>
                    
                    <li>
                        <a href="#">Tank Setup</a>
                    </li>
                    -->
                    <li>
                        <a href="/forum">News & Stories</a>
                    </li>

                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            
            <a href="/signup" class="join_us" target="_blank">Join Community</a>          
        </div>
        <div class="middle">
            <div class="description">
                <h1>Turtle Talk</h1>
                <p>A blog for turtle lovers passionate about conservation, care, and all things shelled.</p>
            </div>
            <div class="turtle">
                <div class="turtle_images">
                    <img src="/images/turtle_images/IMG_20251001_122532.jpg" alt="image of a turtle" id="turtle1">
                    <img src="/images/turtle_images/IMG_20251001_123401-1.jpg" alt="image of a turtle" id="turtle2">
                    <img src="/images/turtle_images/IMG_20251001_123952.jpg" alt="image of a turtle" id="turtle3">
                    <img src="/images/turtle_images/IMG_20251001_124847.jpg" alt="image of a turtle" id="turtle4">
                    <img src="/images/turtle_images/IMG_20251001_131335.jpg" alt="image of a turtle" id="turtle5">
                    <img src="/images/turtle_images/IMG_20251001_124901.jpg" alt="image of a turtle" id="turtle6">
                    <img src="/images/turtle_images/IMG_20251001_131331.jpg" alt="image of a turtle" id="turtle7">
                </div>

                <div class="slider_nav">
                    <a href="#turtle1"></a>
                    <!--<a href="#turtle2"></a>
                    <a href="#turtle3"></a>
                    <a href="#turtle4"></a>
                    <a href="#turtle5"></a>
                    <a href="#turtle6"></a>-->
                    <a href="#turtle7"></a>
                </div>
            </div>
        </div>
    </div>
</body>

<footer class="bottom">
    <p>&copy; 2025 Mikaela Matthews. All rights reserved.</p>
</footer>
</html>